header{
  text-align: center;
  background-image: url(icon/green.png);
  font-size:50pt;
  color:white;
  padding: 1px;
  font-family: 'Lily Script One', cursive;
}

.icons {
  display: inline-block;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 25px;
  background-color: firebrick;
  width: 30%;
  margin: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.icons p {
	margin-top: -10%;
	
}

.icons img {
	width:90%;
}

div img{
  width:100%;
	margin: 4%;
}

body{
  /*font-family: 'PT Sans Caption', sans-serif;*/
  background-color:lightpink;
	background: linear-gradient(to right, lightpink, white, lightpink);
  margin:0 auto;
}

#whole{
  background-color: firebrick;
  color: white;
  font-size: 25pt;
  font-family: 'Oleo Script Swash Caps', cursive;
}
#AU {
  font-family: 'PT Sans Caption', sans-serif;
}
#AU p{
  text-align: center;
  font-size: 15pt;
}

li {
  font-size:12pt;
}

#footer{
  width:100%;
  background-color:black;
  float: left;
  height: 120px;
}

#bcitdiv{
  width: 40%;
  float:left;
  height: 120px;
  text-align: center;
}
#loveFooddiv{
  width: 20%;
  float: left;
  height: 120px;
  text-align: center;
}
#metroVandiv{
  width:40%;
  float:left;
  height: 120px;
  text-align: center;
}
#bcit{
  text-align: center;
  width:150px;
  margin-top:-0.5px;
}

#loveFood{
  width:120px;
  margin-top: -3px;
}

#metro{
  width:300px;
  padding-top: 18px;
}

.icons:hover {
	box-shadow: 0px 0px 28px #888888;
}

#whole {
  text-align: center;
}
#subhead {
  font-family: 'Oleo Script Swash Caps', cursive;
}

#footerAU{
	display:block;
	/*position: absolute;
	bottom:0;
	right:0;
  left:0;
  */
	text-align: center;		
  background-color:black;
	flex-shrink: 0;
}

/*#AU {
    text-align: center;
	background-color:crimson;
	color: white;
	font-size: 14pt;
	padding: 2px;
}
#AU > p {
	text-align: center;
	font-size: 14pt;
}
#AU ol {
  text-align: center;
}*/
.title {
	background-color: rgba(255, 255, 255, 0.25);
	border-style: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
}
