/* side bar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(238, 98, 4, 0.829);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .links:hover {
  color: rgba(238, 98, 4, 0.829);
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.sidenav .links:active {
  color: rgba(238, 98, 4, 0.829);
  background: rgba(125, 125, 125, 1);
  font-size: 35pt;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:active {
  font-size: 50pt;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

#cover{
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  display: none;
}
/* sidebar ends */

/* header */
#header {
  text-align: center;
  /* I think this color is the best*/
  /*background-image: url(icon/green.png);*/
  background-color: rgb(5, 178, 82);
  color:white;
  padding: 1px;
  font-family: 'Lily Script One', cursive;
}

#loginNav {
  background-color: rgb(5, 178, 82);
  padding: 10px;
  color:white;
  display: none;
}

#userInfo {
  background-color: rgb(5, 178, 82);
  color:white;
  font-size: 18pt;
  display: none;
  padding-right: 10px;
}

#logoutButton {
  display: none;
  float: right;
}

#header a:link, #header a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#header p {
font-size:35pt;
display: inline-block;
background-color: rgb(5, 178, 82);
margin-top: 5px;
}



#header #menuDiv {
float: left;
width: 55px;
margin-left: 25px;
}
  
  .icons {
    display: inline-block;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 3px;
    background-color: rgb(255, 124, 124);
    width: 90%;
    margin: 20px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: 0px 0px 28px #884444;      
  }

  .icons:hover {
    box-shadow: 0px 0px 28px #888888;
  }

  .icons:active {
    width: 87%;
    height: 87%;
  }
  
  #lastIcon {
    margin: 0 auto;
  }
  
  .icons p {
      margin-top: -10%;
      
  }
  
  .icons img {
      width:90%;
  }
  
  div img{
    width:100%;
      margin: 4%;
    
  }
  body{
    font-family: 'PT Sans', sans-serif;
    margin:0;   
  }
  
  div > p {
    background-color:rgba(240, 45, 45, 1);
    margin:0;
    padding:1%;
    text-align:center;
    font-size:20pt;
    color:white;
    vertical-align: middle;
  }
  
  
  
  /***********************************/
  /***********footer start************/
  /***********************************/
  #footer{
    width:100%;
    background-color:rgba(0,0,0,0.85);
    float: left;
    height: 120px;
    
  }
  
  #bcitdiv{
    width: 40%;
    float:left;
    height: 120px;
  }
  #loveFooddiv{
    width: 20%;
    float: left;
    height: 120px;
  }
  #metroVandiv{
    width:40%;
    float:left;
    height: 120px;
  }
  #bcit{
    width:150px;
    margin-top:-1px;
  }
  
  #loveFood{
    width:120px;
    margin-top: -3px;
  }
  
  #metro{
    margin-top: 0.5px;
    margin-bottom:0.5px;
    padding-top:0.5px;
    width:75px;
  }
  /***********************************/
  /***********footer ends*************/
  /***********************************/  
  #whole {
    text-align: center;

  }
  #subhead {
    font-family: 'Oleo Script Swash Caps', cursive;
  }
  
  #headAU{
    text-align: center;
    background-color: green;
    font-size:20pt;
    color:white;
  }
  
  .title {
      background-color: rgba(255, 255, 255, 0.25);
      border-style: hidden;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      
  }
  
  /*RECIPES PAGE CSS */
  .recipes p{
    background-color: white;
    color: black;
    font-weight: bold;
  }
  .recipeName{
    font-size: 20pt;
    background-color: black;
    font-weight: bold;
    color:white;
    text-align: left;
    padding-left:15px;
  }
  
  #menu{
    text-align: center;
  }

  #menu div{
    margin: 0 auto;
  }
  
  .wrappers::before {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, black 100%);
    margin-bottom: -50px;
    height: 50px;
    width: 100%;
    content: '';
  }
  .wrappers::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, black 100%);
    margin-top: -50px;
    height: 50px;
    width: 100%;
    content: '';
  }
  .recipes img{
    margin : 0 auto;
    padding : 0;
  }
  




  /* Categories */
  
  #vegDiv {
    display: none;
  }
  
  .vegies {
    background-color: rgba(50, 150, 50, 0.5);
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    float: left;
    clear: left;
  }
  
  /*.vegies p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }*/

  #vegDiv p {
    background-color: rgba(56, 151, 68, 0.5);
    color: white;
    text-align: center;
    width: 90%;
    border-style: hidden;
    border-radius: 10px;  
    margin: 0 auto;
    margin-top: -4%;
  }
  
  #fruitDiv {
    display: none;
  }
  
  .fruits {
    background-color: rgba(150, 150, 50, 0.5);
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    float: left;
    clear: left;
  }

  #fruitDiv p {
    background-color: rgba(218, 21, 37, 0.5);
    color: white;
    text-align: center;
    width: 90%;
    border-style: hidden;
    border-radius: 10px;  
    margin: 0 auto;
    margin-top: -4%;
  }
  /*.fruits p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
  }*/
  
  #breadDiv {
    display: none;  
  }
  
  .bread {
    background-color: rgba(219, 185, 32, 0.5);
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    float: left;
    clear: left;
  }
  
  #breadDiv p {
    background-color: rgba(185, 178, 80, 0.5);
    color: white;
    text-align: center;
    width: 90%;
    border-style: hidden;
    border-radius: 10px;  
    margin: 0 auto;
    margin-top: -4%;
  }
  /*.bread p {
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    text-align: center;
  }*/
  
  #meatDiv {
    display: none;  
  }
  
  .meat {
    background-color: rgba(150, 32, 32, 0.5);
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    float: left;
    clear: left;
  }

  #meatDiv p {
    background-color: rgba(212, 97, 97, 0.5);
    color: white;
    text-align: center;
    width: 90%;
    border-style: hidden;
    border-radius: 10px;  
    margin: 0 auto;
    margin-top: -4%;
  }
  
  /*.meat p {
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    text-align: center;
  }*/
  
  #dairyDiv {
    display: none;  
  }
  
  .dairy {
    background-color: rgba(200, 200, 200, 0.5);
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    float: left;
    clear: left;
  }
  
 /* .dairy p {
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    text-align: center;
    color: black;
  }*/

  #dairyDiv p {
    background-color: rgba(99, 97, 212, 0.5);
    color: white;
    text-align: center;
    width: 90%;
    border-style: hidden;
    border-radius: 10px;  
    margin: 0 auto;
    margin-top: -4%;
  }

  #miscDiv {
    display: none;  
  }
  
  .misc {
    background-color: rgba(200, 200, 200, 0.5);
    border-style: hidden;
    border-radius: 10px;
    padding: 1%;
    margin: 0.5%;
    float: left;
    clear: left;
  }
  
 /* .dairy p {
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    text-align: center;
    color: black;
  }*/

  #miscDiv p {
    background-color: rgba(99, 97, 212, 0.5);
    color: white;
    text-align: center;
    width: 90%;
    border-style: hidden;
    border-radius: 10px;  
    margin: 0 auto;
    margin-top: -4%;
  }
  
  
  .iconsDivs {
    display: inline-table;
    margin: 0-auto;
    width: 40%;
    
  }

  /****************************************
  ************* Basket ********************
  ****************************************/

  #basket {
    float: left;
    background-color: rgba(200, 200, 200, 1) ;
    margin-top: 1px;  
    width: 100%;    
  }

  /*.basketItem {
    background-color: burlywood;
    float: left;
    text-align: center;  

  }*/

  #inc {
    display: none;
    align-items: center;
  }

 .basketItem{
    display: none;   
    width: 16%;
    text-align: center;
    top: 50%;
  }

  .basketItem p {
    background-color: rgb(74, 221, 63);
    text-align: center;
    border-color: white;
    border-style: solid;
    border-radius: 5px; 
    border-width: 2px;
    margin: 5%;
  }
  
  #basket-title {
    display: block;
  }

  /*.basketPara {
    display: inline-block;
    text-align: center;
    background-color: blue;
    width: 15%;    
  }*/

  /*.basketItem {
    display: inline-block;
    font-size: 15pt;
    //background-color: burlywood;
    float: left;	
    //display:none;
    border-style: solid;
    border-color: cornsilk;
    border-radius: 2px;
    vertical-align: middle;
  } */
  
  
  #basket img {
    width: 10%;
    /*display: none;*/
  }

  /*.basketItem p {
    background-color: burlywood;
		font-size: 15px;
		text-align: center;
    display: inline-block;
    float: left; 
		height: 100%;
  }*/
  
  #arrow {
    float: right;
    display: none;
  }

/*******************************
*******Search bar and icon*****
******************************/
  #searchBar {
    display: none;
    position: fixed;
    z-index: 2;
    position: fixed;
    width: 100%;
  }

  #header #search {
    float: right;
    width: 55px;
    margin-right: 25px;
  }

  #searchCover{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    display: none;
  }

  input[type=search] {
    margin: 0 auto; 
    background: none;
    width: 85%;
    color: white;
    text-align: center;
    font-size: 30px;
    border-left: none;
    border-right: none;
    border-top: none;    
  }



  input::placeholder {
    border: 0px solid;
    background: none;
    color: white;
    text-align: center;
    font-size: 30px;
  }

  input[type=search]:active{
    border: 0px;
    

  }

  input:focus{
    outline-width: 0;
    
  }

  #search-title {
    z-index: 2;
    color: white;
    font-size: 40pt;

  }
  
  /***************************
  *******Body Background******
  ***************************/
  #bodyBG {
    z-index: -10;
    background-color:rgba(211, 124, 124, 0.5);
    position: fixed;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    height: 100%;
    box-shadow: 0px 0px 28px #888888;

  }
 






  
  
  